{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/stickers/sticker-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>All Jar Stickers</h1>
  <img src="{% static 'images/Stickers-1.png' %}" alt="Wifi sticker" />
  <img src="{% static 'images/Stickers-2.png' %}" alt="Flower sticker" />
  <img src="{% static 'images/Stickers-3.png' %}" alt="Cactus sticker" />
</section>

<section class="card-container">
  {% for sticker in sticker_list %}
  <div class="card" style="border-color: {{ sticker.color }}">
    <div class="card-bg" style="background-color: {{ sticker.color }}"></div>
    <a href="{% url 'stickers_detail' sticker.id %}">
      <div class="card-content">
        <h2>{{ sticker.name }}</h2>
        <p>A {{ sticker.color }} sticker</p>
      </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}