{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/jars/jar-details.css' %}"
/>
<script defer src="{% static 'js/jar-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="jar-container">
  <div class="jar-img">
    <img 
      src="{% static 'images/Jar-2.png' %}" 
      alt="A skater boy cat"
    >
  </div>
  <div class="jar-details">
    <h2 class="card-title">{{ jar.name }}</h2>
        <p>{{jar.contents}} {{jar.quantity}}</p>
        <p><small>{{ jar.description }}</small></p>
        <div class="jar-actions">
          <a href="{% url 'jars_update' jar.id %}" class="btn warn">Edit</a>
          <a href="{% url 'jars_delete' jar.id %}" class="btn danger">Delete</a>
        </div>
      </div>
</section>
<div class="cleanings-sticker-container">
  <section class="cleanings">
    <div class="subsection-title">
      <h2>Cleanings</h2>
      <img 
        src="{% static 'images/Cleaning-Product-1.png' %}" 
        alt="An ice cream cone cat"
      />
      <img 
        src="{% static 'images/Cleaning-Product-2.png' %}"
        alt="A cat as onigiri"
      />
      <img 
        src="{% static 'images/Cleaning-Product-3.png' %}" 
        alt="A kabob of kittens"
      />
    </div>
    <h3>Add a Cleaning</h3>
    <form
      action="{%url 'add_cleaning' jar.id %} "
      method="post" 
      class="subsection-content"
    >
    {% if jar.clean_for_today %}
      <p class='clean'>{{jar.name}} has been cleaned today!</p>
    {% else %}
      <p class='unclean'>{{jar.name}} might need a cleaning!</p>
    {% endif %}
      {% csrf_token %}
      {{ cleaning_form.as_p }}
      <button type="submit" class="btn submit">Add Cleaning</button>
    </form>
    <h3>Past Cleanings</h3>
    {% if jar.cleaning_set.all.count %}
    <table>
      <thead>
        <tr><th>Date</th><th>Product</th></tr>
      </thead>
      <tbody>
        {% for cleaning in jar.cleaning_set.all %}
          <tr>
            <td>{{cleaning.date}}</td>
            <td>{{cleaning.get_product_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else%}
    <div class = 'subsection-content'>
      <p>{{jar.name}} has never been cleaned 😔</p>
    </div>
    {% endif %}
  </section>
</div>
{% endblock %}